<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/png" href="<?= $this->assetsPath ?>/images/favicon.png">
    <link rel="stylesheet" href="<?= $this->assetsPath ?>/styles/HomeStyle.css">
    <link rel="stylesheet" href="<?= $this->assetsPath ?>/styles/PageCommune.css">
</head>
<body>
<div class="return-image">
    <a href="HomeController.php">
        <img src="<?= $this->assetsPath ?>/images/retour.png" id="retour" width="225" height="225">
    </a>
    <a href="But3.html">
        <img id="BUT3" src="<?= $this->assetsPath ?>/images/But3.png" width="155" height="140">
    </a>
    <a href="But2.html">
        <img id="BUT2" src="<?= $this->assetsPath ?>/images/But2.png" width="145" height="130">
    </a>
    <img id="enseignant" src="<?= $this->assetsPath ?>/images/enseignant.png" width="125" height="120">
    <img id="SallesInformatique" src="<?= $this->assetsPath ?>/images/SallesInformatique.png" width="145" height="135">
    <a href="But1.html">
        <img id="BUT1" src="<?= $this->assetsPath ?>/images/But1.png" width="125" height="120">
    </a>

</div>
<img id="logo" src="<?= $this->assetsPath ?>/images/logo.png" alt="Logo">
</body>
</html>
