.container {
    width: 80%;
    margin: auto;
}

/* Pour les appareils mobiles */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    /* Autres styles spécifiques mobiles */
}

/* Pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
    /* Styles spécifiques aux tablettes */
}

/* Pour les ordinateurs de bureau */
@media (min-width: 1025px) {
    /* Styles spécifiques aux ordinateurs de bureau */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Russo One', sans-serif; /* Import de la police de caractères */
}
.hidden{
    display: none;
}
.displayText{
}
.return-image {
    text-align: center;
}

.return-options {
    display: inline-block;
    margin: 10px;
}
.return-image{

    display: block;
    margin-left: auto;
    margin-right: auto
}
/*svg {
    width: 100%;
    height: 100%;
}*/
svg {
    width: 100%; /* Adaptez la largeur du SVG à son conteneur */
    height: auto; /* Hauteur automatique pour maintenir le ratio */
}

#displayText {
    font-size: 4vw; /* Taille de la police en unités de viewport */
}

/* Utilisez les media queries si nécessaire pour ajuster la taille sur des écrans plus petits */
@media (max-width: 600px) {
    #displayText {
        font-size: 5vw; /* Taille de police plus grande pour les petits écrans */
    }
}


svg text {
    animation: stroke 8s infinite alternate;
    stroke-width: 2;
    stroke: #49abf1;
    font-size: 70px;
    position: absolute;
}



@keyframes stroke {
    0% {
        fill: rgba(52, 128, 204, 0);
        stroke: rgb(73, 151, 241);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(52, 128, 204, 0);
        stroke: rgba(176, 73, 241, 1);
    }
    80% {
        fill: rgba(52, 128, 204, 0);
        stroke: rgba(176, 73, 241, 1);
        stroke-width: 3;
    }
    100% {
        fill: rgba(52, 128, 204, 1);
        stroke: rgba(176, 73, 241, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

/* Ajout de la classe .wrapper pour le style de fond */
.wrapper {
    background-color: #FFFFFF;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.hidden {
    display: none;
}

.logo {
    position: fixed;
    top: -30px;
    right: 2060px;
    transform: scale(0.25);
    z-index: 5;
}

.image-container {
    position: relative;
    top: -50px; /* Ajustez la valeur pour déplacer l'image vers le haut */
    text-align: center;
}

.image-button {
    position: relative;
    top: 0px; /* Correction de la valeur top */
    text-align: center;
}
