.container {
    width: 80%;
    margin: auto;
}

/* Pour les appareils mobiles */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    /* Autres styles spécifiques mobiles */
}

/* Pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
    /* Styles spécifiques aux tablettes */
}

/* Pour les ordinateurs de bureau */
@media (min-width: 1025px) {
    /* Styles spécifiques aux ordinateurs de bureau */
}

#image_up {
    width: 850px;
    height: auto;
    position: absolute;
    left: 365px;
    top: -20px;
}


#return {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    left: 1420px;
    top: 640px;
}