.container {
    width: 80%;
    margin: auto;
}

/* Pour les appareils mobiles */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    /* Autres styles spécifiques mobiles */
}

/* Pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
    /* Styles spécifiques aux tablettes */
}

/* Pour les ordinateurs de bureau */
@media (min-width: 1025px) {
    /* Styles spécifiques aux ordinateurs de bureau */
}

body, html {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh; /* Utilise la hauteur totale de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligne l'image en haut */
}

#image_up {
    width: 20px;
    height: auto;
    position: absolute; /* Ajout de la position absolue pour utiliser la propriété left */
    left: 365px; /* Décalage de 600 pixels vers la droite */
    top: -2px;
}
#G1{
    width: 85px;
    height: auto;
    position: absolute; /* Ajout de la position absolue pour utiliser la propriété left */
    left: 535px; /* Décalage de 600 pixels vers la droite */
    top: -2px;
}
#G2{
    width: 85px;
    height: auto;
    position: absolute; /* Ajout de la position absolue pour utiliser la propriété left */
    left: 665px; /* Décalage de 600 pixels vers la droite */
    top: -1px;
}
#G3{
    width: 85px;
    height: auto;
    position: absolute; /* Ajout de la position absolue pour utiliser la propriété left */
    left: 795px; /* Décalage de 600 pixels vers la droite */
}
#G4{
    width: 87px;
    height: auto;
    top: -4px;
    position: absolute; /* Ajout de la position absolue pour utiliser la propriété left */
    left: 915px; /* Décalage de 600 pixels vers la droite */
}
#return {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    left: 1440px;
    top: 640px;
}