#image_up {
    width: 900px;
    height: auto;
    display: block;
    position: absolute; /* Utilisation de la position absolue pour fixer l'image */
    left: 300px; /* Positionnement spécifique à gauche */
    top: -2px; /* Positionnement spécifique en haut */
}

#GA1{
    width: 100px;
    height: auto;
    display: block;
    position: absolute;
    left: 480px;
    top: 05px;
}

#GA2{
    width: 100px;
    height: auto;
    display: block;
    position: absolute;
    left: 680px;
    top: 05px;
}
#GB{
     width: 100px;
     height: auto;
     display: block;
     position: absolute;
     left: 880px;
     top: 05px;
 }
#return {
      width: 90px;
      height: auto;
      display: block;
      position: absolute;
      left: 1440px;
      top: 640px;
  }