#image_up {
    width: 850px;
    height: auto;
    position: absolute;
    left: 365px;
    top: -20px;
}


#return {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    left: 1420px;
    top: 640px;
}