#image_BUT3 {
    width: 276px;
    height: auto;
    display: block;
    position: absolute; /* Utilisation de la position absolue pour fixer l'image */
    left: -1px; /* Positionnement spécifique à gauche */
    top: -1px; /* Positionnement spécifique en haut */
}

#image_GB{
    width: 260px;
    height: auto;
    display: block;
    position: absolute;
    left: 800px; /* Positionnement par rapport à l'image But1 */
    top: 80px; /* Positionnement par rapport à l'image But1 */
}

#image_GA2{
    width: 270px;
    height: auto;
    display: block;
    position: absolute;
    left: 1000px; /* Positionnement par rapport à l'image But1 */
    top: 280px; /* Positionnement par rapport à l'image But1 */
}

#image_GA1{
    width: 260px;
    height: auto;
    display: block;
    position: absolute;
    left: 600px; /* Positionnement par rapport à l'image But1 */
    top: 280px; /* Positionnement par rapport à l'image But1 */
}
#BUT3Edt {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    left: 1430px;
    top: 620px;
}