.container {
    width: 80%;
    margin: auto;
}

/* Pour les appareils mobiles */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    /* Autres styles spécifiques mobiles */
}

/* Pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
    /* Styles spécifiques aux tablettes */
}

/* Pour les ordinateurs de bureau */
@media (min-width: 1025px) {
    /* Styles spécifiques aux ordinateurs de bureau */
}

#image_BUT3 {
    width: 276px;
    height: auto;
    display: block;
    position: absolute; /* Utilisation de la position absolue pour fixer l'image */
    left: -1px; /* Positionnement spécifique à gauche */
    top: -1px; /* Positionnement spécifique en haut */
}

#image_GB{
    width: 260px;
    height: auto;
    display: block;
    position: absolute;
    left: 800px; /* Positionnement par rapport à l'image But1 */
    top: 80px; /* Positionnement par rapport à l'image But1 */
}

#image_GA2{
    width: 270px;
    height: auto;
    display: block;
    position: absolute;
    left: 1000px; /* Positionnement par rapport à l'image But1 */
    top: 280px; /* Positionnement par rapport à l'image But1 */
}

#image_GA1{
    width: 260px;
    height: auto;
    display: block;
    position: absolute;
    left: 600px; /* Positionnement par rapport à l'image But1 */
    top: 280px; /* Positionnement par rapport à l'image But1 */
}
#BUT3Edt {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    left: 1430px;
    top: 620px;
}
#return {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    left: 1430px;
    top: 620px;
}