#image_up {
    width: 850px;
    height: auto;
    position: absolute;
    left: 365px;
    top: -20px;
}
#GA1{
    width: 145px;
    height: auto;
    position: absolute; /* Ajout de la position absolue pour utiliser la propriété left */
    left: 565px; /* Décalage de 600 pixels vers la droite */
    top: -12px;
}
#GA2{
    width: 130px;
    height: auto;
    position: absolute; /* Ajout de la position absolue pour utiliser la propriété left */
    left: 725px; /* Décalage de 600 pixels vers la droite */
    top: -5px;
}

#GB{
    width: 130px;
    height: auto;
    position: absolute; /* Ajout de la position absolue pour utiliser la propriété left */
    left: 865px; /* Décalage de 600 pixels vers la droite */
    top: -12px;
}

#return {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    left: 1420px;
    top: 640px;
}