#image_BUT2 {
    width: 320px;
    height: auto;
    display: block;
    position: absolute; /* Utilisation de la position absolue pour fixer l'image */
    left: 1565px; /* Positionnement spécifique à gauche */
    top: 1px; /* Positionnement spécifique en haut */
}
#return {
    width: 75px;
    height: auto;
    display: block;
    position: absolute;
    left: 1770px;
    top: 810px;
}
#textebar {
    width: 450px;
    height: auto;
    display: block;
    position: absolute;
    left: 750px;
    top: 100px;
}
.search
{
    position: relative;
    width: 60px;
    height: 60px;
}