.container {
    width: 80%;
    margin: auto;
}

/* Pour les appareils mobiles */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }
    /* Autres styles spécifiques mobiles */
}

/* Pour les tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
    /* Styles spécifiques aux tablettes */
}

/* Pour les ordinateurs de bureau */
@media (min-width: 1025px) {
    /* Styles spécifiques aux ordinateurs de bureau */
}

/* Styles pour l'image But1 */
#image_BUT1 {
    width: 285px;
    height: auto;
    display: block;
    position: absolute; /* Utilisation de la position absolue pour fixer l'image */
    left: -1px; /* Positionnement spécifique à gauche */
    top: -3px; /* Positionnement spécifique en haut */
}

#image_G1 {
    width: 280px;
    height: auto;
    display: block;
    position: absolute;
    left: 800px; /* Positionnement par rapport à l'image But1 */
    top: 80px; /* Positionnement par rapport à l'image But1 */
}

/* Styles pour l'image G2 */
#image_G2 {
    width: 280px;
    height: auto;
    display: block;
    position: absolute;
    left: 1050px; /* Positionnement par rapport à l'image But1 */
    top: 260px; /* Positionnement par rapport à l'image But1 */
}
#image_G3 {
    width: 230px;
    height: auto;
    display: block;
    position: absolute;
    left: 810px;
    top: 460px;
}
#image_G4 {
    width: 270px;
    height: auto;
    display: block;
    position: absolute;
    left: 550px;
    top: 260px;
}
#return {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    left: 1430px;
    top: 620px;
}