.container {
    margin: auto;
}

/* Styles généraux pour tous les appareils */
#logo {
    width: 200px; /* ou la taille souhaitée */
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
