.schedule-table {
    border-collapse: collapse;
    width: 100%;
    /* Ajoutez plus de styles CSS ici */
}

.schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* CSS TABLO ICI POUR MODIFICATION ET RENDRE PLUS BO */
